<div class="row mt-5">
    <div class="col-12">
        <h2>Ολα τα βιβλία {{#if books}} - ({{books.length}}) {{/if}}</h2>
        {{#if books}}
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Τίτλος</th>
                <th>Συγγραφέας</th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.author}}</td>
                    <td>
                        {{!-- <a class="btn btn-sm btn-danger" href="/delete/{{this.title}}">Διαγραφή</a> --}}
                        {{!-- <a class="btn btn-sm btn-info" href="/comment/{{this.title}}">Σχόλια</a> --}}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" href="/comment/{{this.author}}/{{this.title}}">Σχόλια</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
{{#unless books}}
    <div class="row mt-5">
        <div class="col"> Δεν υπάρχει κανένα βιβλίο στον κατάλογο</div>
    </div>
{{/unless}}
{{#if error}}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{error}}
            </div>
        </div>
    </div>
{{/if}}
